<!DOCTYPE html>
<html lang="en" style="font-size: 20px">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>连载动漫</title>
    <link rel="stylesheet" href="../public/less/index.css">
</head>

<body>
    <header class="header">
        <div class="left back">
            <</div>
                <h3 class="title">连载动漫</h3>
    </header>
    <section>
        <ul class="animate-list">
            <li class="animate">
                <a href="javascript:;">
                    <div class="content">
                        <div class="left">
                            <img src="../public/images/lzimg1.jpg" alt="">
                        </div>
                        <div class="right">
                            <h2 class="title">Maho Girls 光之美少女！/魔法师光之美少女</h2>
                            <p>连载至36集</p>
                            <p>10-11更新</p>
                            <p>下载次数：7455</p>
                        </div>
                    </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="" alt="">
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="" alt="">
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="" alt="">
                </a>
            </li>
        </ul>
    </section>
</body>

</html>